.dfUISelected {

    background: #b3d4fc !important;

}

.dfUIUnsaved {

    background: lightgoldenrodyellow !important;
}


.dfUIExport {

    background: lightsteelblue !important;
}

.df-toolbar {

    margin: 20px auto
}

.df-table-divider {
    margin: 5px auto
}