<div class="row">
    <div class="col-xs-12">
        <form data-ng-submit="saveNewRecord()">
        <div class="row">
            <div class="btn-toolbar df-toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" data-ng-click="closeCreateRecord()">Close</button>
                    <button type="submit" class="btn btn-default btn-sm">Save</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="progress " data-ng-class="inProgress ? 'progress-striped active' : ''"
                 style="width: 100%; height: 8px; margin-bottom: 0;">
                <div class=""
                     data-ng-class="inProgress ? 'progress-bar' : ''"
                     role="progressbar" aria-valuenow="100"
                     aria-valuemin="100" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        <div class="row">

                <div data-ng-repeat="field in schema.field track by $index">

                    <label>{{field.label}}<small style="margin-left: 8px; font-weight: normal" data-ng-if="field.required" class="text-muted">(required)</small></label>

                    <div data-ng-if="newRecord" dreamfactory-build-field data-service="options.service" data-field="field"
                         data-extend-field-types="extendFieldTypes" data-related-data="relatedData"
                         data-current-edit-record="newRecord" class="form-group col-xs-12"></div>
                </div>
            </div>
        </form>
    </div>
</div>
