<ul class="nav nav-tabs">
    <li data-ng-class="activeTab === (schema.name + '-table') ? 'active' : '' "><a
            data-ng-click="setTab(schema.name +'-table')">{{schema.plural}}</a></li>
    <li data-ng-class="activeTab === (schema.name + '-config') ? 'active' : '' "><a
            data-ng-click="setTab(schema.name + '-config')">Config</a></li>
</ul>

<div class="tab-content">

    <div data-ng-class="activeTab === (schema.name + '-table') ? 'active' : '' " class="tab-pane"
         id="{{schema.name}}-table">

        <div data-ng-show="activeView === 'table'">
            <div class="row">
                <div class="col-xs-12">

                    <div class="btn-toolbar">
                        <div class="btn-group">

                            <select data-ng-model="currentPage"
                                    data-ng-options="page as page.number for page in pagesArr"></select>

                            <button type="button" data-ng-click="refreshResults()" class="btn btn-default btn-sm">
                                Refresh Results
                            </button>


                            <button type="button" data-ng-class="_isFirstPage() ? 'disabled' : ''"
                                    class="btn btn-default btn-sm"
                                    data-ng-click="getPrevious()">Previous
                            </button>
                            <button type="button" data-ng-class="_isLastPage() ? 'disabled' : ''"
                                    class="btn btn-default btn-sm"
                                    data-ng-click="getNext()">Next
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" data-ng-click="createRecord()" class="btn btn-default btn-sm">Create
                            </button>
                            <button type="button" data-ng-click="saveRecords()" class="btn btn-default btn-sm">Save
                            </button>
                            <button type="button" data-ng-click="revertRecords()" class="btn btn-default btn-sm">
                                Revert
                            </button>
                            <button type="button" data-ng-click="deleteRecords()" class="btn btn-default btn-sm">
                                Delete
                            </button>
                        </div>

                        <div class="progress " data-ng-class="inProgress ? 'progress-striped active' : ''"
                             style="width: 5%; height: 10px">
                            <div class="progress-bar"
                                 data-ng-class="inProgress ? 'progress-bar-info' : 'progress-bar-success'"
                                 role="progressbar" aria-valuenow="100"
                                 aria-valuemin="100" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <!--
                    <div data-ng-hide="filterViewBy === '' ? true : false"
                         class="form-group col-xs-12 col-sm-4">
                        <label style="display:block" for="df-{{schema.name}}-table-view-by">
                            <small>View By</small>
                        </label>
                        <select class="form-control" id="df-{{schema.name}}-table-view-by" data-ng-model="filter.viewBy"
                                data-ng-options="field.name as field.label for field in schema.field">
                        </select>
                    </div>
                    -->

                    <div style="display: inline;" class="form-group col-xs-12 col-sm-4">
                        <label style="display:block" for="df-{{schema.name}}-table-filter-by">
                            <small>Filter By</small>
                        </label>
                        <select class="form-control" id="df-{{schema.name}}-table-filter-by" data-ng-model="filter.prop"
                                data-ng-options="field.name as field.label for field in schema.field">
                        </select>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <label style="display:block" for="df-{{schema.name}}-table-filter-by">
                            <small>Filter Value</small>
                        </label>
                        <input style="display: inline;" class="form-control" type="text" data-ng-model="filter.value"
                               placeholder="Enter Filter Value">
                    </div>

                    <button type="button" class="btn btn-default btn-small" data-ng-click="applyFilter()">Apply</button>
                    <button type="button" class="btn btn-default btn-small"
                            data-ng-class="!_isFiltered() && !_isOrdered() ? 'disabled' : ''"
                            data-ng-click="removeFilter()">Remove
                    </button>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div style="margin-right: 10px;" class="form-group col-xs-12 col-sm-4">
                                <label style="display:block" for="order-by">
                                    <small>Order by</small>
                                </label>
                                <select class="form-control" id="order-by" data-ng-model="order.orderBy"
                                        data-ng-options="field.name as field.label for field in schema.field"></select>
                            </div>

                            <div style="margin-right: 5px;" class="form-group col-xs-12 col-sm-1">
                                <label style="display:block" for="order-by-reverse">
                                    <small>Reverse</small>
                                </label>
                                <input type="checkbox" id="order-by-reverse" data-ng-model="order.orderByReverse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div data-ng-if="options.exportValueOn && parentRecord" class="row">
                <div class="col-xs-12">
                    <label>Export Value</label>

                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-small" data-ng-click="editRecord(_exportValue)" data-ng-disabled="!_exportValue"><i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-small" data-ng-click="setExportValue()"><i class="fa fa-frown-o"></i>
                            </button>
                        </div>
                    </div>

                    <input data-ng-model="_exportValue[exportField.ref_fields]" class="form-control" disabled>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <p><span data-ng-if="orderedRecords" class="label label-warning"
                             style="margin-right: 20px">Order On</span>
                        <span data-ng-if="filteredRecords" class="label label-info"
                              style="margin-right: 20px">Filter On</span>Page {{currentPage.number}} of
                        {{pagesArr.length}}
                </div>
            </div>

            <div data-ng-if="record" class="table-responsive">
                <table class="table table-hover" >
                    <tr>
                        <th></th>
                        <th class="df-th-cell" data-ng-class="order.orderBy === field.name ? 'df-th-selected' : ''"
                            data-ng-click="orderOnSelect(field)"
                            data-ng-repeat="field in schema.field | orderAndShowSchema: tableFields ">
                            <span class="df-th-text">{{field.label}}</span>
                            <i data-ng-if="order.orderBy === field.name" class="fa"
                               data-ng-class="order.orderBy === field.name && order.orderByReverse ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
                        </th>
                    </tr>

                    <tr data-ng-repeat="obj in record | dfFilterBy:{'field':filter.prop, 'value':filter.value, 'on':tableFilterOn} | orderObjectBy:order.orderBy:order.orderByReverse">
                        <td style="width: 100px;">
                            <div class="btn-group">
                                <button type="button" data-ng-click="editRecord(obj)" class="btn btn-default btn-sm">
                                    <i class="fa fa-fw fa-pencil"></i>
                                </button>
                                <button type="button" data-ng-if="options.exportValueOn" class="btn btn-default btn-sm"
                                        data-ng-click="setExportValue(obj)">
                                    <i class="fa fa-fw fa-flash"></i>
                                </button>
                            </div>
                        </td>
                        <td data-ng-repeat="value in obj | orderAndShowValue : tableFields track by $index"
                            data-ng-click="toggleSelected(obj)"
                            data-ng-class="obj.__dfUI.selected ? 'dfUISelected' : '' || obj.__dfUI.unsaved ? 'dfUIUnsaved' : '' || obj.__dfUI.export ? 'dfUIExport' : ''">
                            {{value}}
                        </td>
                    </tr>
                </table>
            </div>

            <p data-ng-if="record.length === 0">No records found.</p>
        </div>

        <div data-ng-show="activeView === 'edit'">
            <edit-record></edit-record>
        </div>
        <div data-ng-show="activeView === 'new'">
            <create-record></create-record>
        </div>
    </div>
    <div data-ng-class="activeTab === (schema.name + '-config')  ? 'active' : '' " class="tab-pane"
         id="{{schema.name}}-config">
        <h3>Visible Fields</h3>
        <span class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="field in tableFields">
            <input type="checkbox" data-ng-model="tableFields[field.name].active"><p
                style="display:inline; margin-left: 10px;">{{field.label}}</p>
        </span>
    </div>
</div>

