<div class="row">
    <div class="col-xs-12">

        <table class="table">
            <tr>
                <th class="df-th-cell"  data-ng-class="order.orderBy === field.name ? 'df-th-selected' : ''" data-ng-click="orderOnSelect(field)" data-ng-repeat="field in relatedSchema.field">
                    <span class="df-th-text">{{field.label}}</span>
                    <i data-ng-if="order.orderBy === field.name" class="fa" data-ng-class="order.orderBy === field.name && order.orderByReverse ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
                </th>
            </tr>

            <tr data-ng-repeat="obj in relatedRecords">
                <td data-ng-repeat="value in obj track by $index"
                    data-ng-click="toggleSelected(obj)"
                    data-ng-class="obj.__dfUI.selected ? 'dfUISelected' : '' || obj.__dfUI.unsaved ? 'dfUIUnsaved' : ''">
                    {{value}}
                </td>
            </tr>
        </table>


    </div>
</div>


